body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 10px 0 20px;
    font-size: 16px;
}

h2{
    text-align: center;
}

.search-bar form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.search-bar input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .data-produk {
    background: #fff;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.data-produk h2 {
    margin-top: 0;
}

.data-produk .produk-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.data-produk .produk-item {
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.data-produk .produk-item .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.data-produk .produk-item p {
    margin: 0;
} */

.data-produk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.product-item {
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    background: #fff;
}

.product-image img {
    max-width: 30%;
    height: auto;
}

.product-item a {
    text-decoration: none;
    color: black;
}

/* .tambah-produk {
    background: #fff;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tambah-produk h2 {
    margin-top: 0;
}

.tambah-produk form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tambah-produk .form-group {
    margin-bottom: 20px;
    width: 45%;
}

.tambah-produk .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.tambah-produk .form-group input, 
.tambah-produk .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tambah-produk button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

.btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    header h1 {
        font-size: 20px;
    }

    .search-bar input {
        width: 70%;
    }

    /* .data-produk .produk-item {
        width: 45%;
    } */

    .product-item {
        width: 45%;
    }

    .tambah-produk .form-group {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }

    header p {
        font-size: 12px;
    }

    .search-bar input {
        width: 80%;
    }

    /* .data-produk .produk-item {
        width: 100%;
    } */

    .product-item {
        width: 100%;
    }

    .tambah-produk .form-group label, 
    .tambah-produk .form-group input, 
    .tambah-produk .form-group select {
        font-size: 14px;
    }

    .tambah-produk button {
        width: 100%;
        padding: 15px;
    }
}
