<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produk/produk.css') }}">
    <title>Produk</title>
</head>
<body>
    {% include "navbar.html" %}
    
    <div class="container">
        <header>
            <h1>Daftar Produk</h1>
            <p>Lihat semua produk yang tersedia</p>
            <div class="search-bar">
                <!-- <input type="text" placeholder="Nama Produk">
                <button class="search-button">Cari</button> -->
                <form action="{{ url_for('search_product') }}" method="get">
                    <input type="text" name="query" placeholder="Nama Produk">
                    <button class="search-button" type="submit" class="btn">Cari</button>
                </form>
            </div>
        </header>
        <a href="{{ url_for('new_product') }}" class="btn">Tambah Produk Baru</a>
        <h2>Daftar Produk</h2>
        <section class="data-produk">
            {% for product in products %}
                <div class="product-item">
                    <a href="{{ url_for('product_detail', product_id=product['id']) }}">
                        <div class="product-image">
                            <img src="{{ url_for('static', filename='product_images/' + product.image) }}" alt="{{ product.name }}">
                        </div>
                        <div class="product-info">
                            <h2>{{ product.name }}</h2>
                            <p>{{ product.category }}</p>
                            <p>Rp. {{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>

        
        
        <!-- <section class="tambah-produk">
            <h2>Tambah Produk Baru</h2>
            <form>
                <div class="form-group">
                    <label for="nama-produk">Nama Produk</label>
                    <input type="text" id="nama-produk" placeholder="Masukkan nama produk">
                </div>
                <div class="form-group">
                    <label for="kategori">Kategori</label>
                    <select id="kategori">
                        <option value="">Kategori</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="harga">Harga</label>
                    <input type="number" id="harga" placeholder="Masukkan harga">
                </div>
                <div class="form-group">
                    <label for="stok">Stok</label>
                    <input type="number" id="stok" placeholder="Masukkan jumlah stok">
                </div>                
            </form>
            <button type="submit">Simpan</button>
        </section> -->
    </div>
</body>
</html>