<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
</head>
<body>
  <div class="container">
    <div class="form-container">
        <form id="employeeForm" action="{{ url_for('login_karyawan') }}" method="post">
            <h2>LOGIN KARYAWAN</h2>
            <input type="hidden" name="role" value="karyawan">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="" required>
            
            <button type="submit">LogIn</button>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <ul class="tabs">
            <p><a href="{{ url_for('login') }}" id="ownerTab">Login Sebagai Pemilik</a></p>
        </ul>
    </div>

    
</div>
<script>
    document.getElementById('ownerTab').addEventListener('click', function() {
        document.getElementById('ownerForm').style.display = 'block';
        document.getElementById('employeeForm').style.display = 'none';
    });
    document.getElementById('employeeTab').addEventListener('click', function() {
        document.getElementById('ownerForm').style.display = 'none';
        document.getElementById('employeeForm').style.display = 'block';
    });
</script>
</body>
</html>
